version: "3.8"

services:
  postgres:
    container_name: orders-postgres
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orders
    ports:
      - "5432:5432"

  redis:
    container_name: orders-redis
    image: redis:7
    ports:
      - "6379:6379"

  kafka:
    container_name: orders-kafka
    image: confluentinc/cp-kafka:7.6.1
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'

  order-service:
    container_name: order-service
    build:
      context: .
      dockerfile: docker/order-service.Dockerfile
    depends_on:
      - postgres
      - redis
      - kafka
    ports:
      - "8080:8080"
    restart: on-failure
    environment:
      DB_DSN: postgres://user:password@postgres:5432/orders?sslmode=disable
      REDIS_ADDR: redis:6379
      KAFKA_BROKERS: kafka:29092

  processing-service:
    container_name: processing-service
    build:
      context: .
      dockerfile: docker/processing-service.Dockerfile
    depends_on:
      - postgres
      - kafka
    restart: on-failure
    environment:
      DB_DSN: postgres://user:password@postgres:5432/orders?sslmode=disable
      KAFKA_BROKERS: kafka:29092

  scheduler-worker:
    container_name: scheduler-worker
    build:
      context: .
      dockerfile: docker/scheduler-worker.Dockerfile
    depends_on:
      - redis
      - kafka
    restart: on-failure
    environment:
      REDIS_ADDR: redis:6379
      KAFKA_BROKERS: kafka:29092
